{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ event.title }}</h1>
            {% if event.event_flyer %}
            <img src="{{ event.event_flyer.url }}" alt="Event picture" class="img-fluid mb-3"
                style="max-width: 300px;">
            {% endif %}
            <p><strong>Description:</strong> {{ event.description }}</p>
            <p><strong>Date:</strong> {{ event.date }}</p>
            <p><strong>Location:</strong> {{ event.location }}</p>
            <p><strong>Organizer:</strong> <a href="{% url 'users:profile' %}">{{ event.organizer }}</a></p>

            <h3>Attend</h3>
            {% if request.user.is_authenticated %}
                {% if user_attending %}
                    <p>You are attending this event.</p>
                {% else %}
                    <p>You are not attending this event.</p>
                {% endif %}
            {% else %}
                <p><a href="{% url 'login' %}">Log in</a> to attend this event.</p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {% if user_attending %}
                    <button type="submit" name="unattend">Unattend</button>
                {% else %}
                    <button type="submit" name="attend">Attend</button>
                {% endif %}
            </form>
            

            <h2>Comments</h2>
            <ul>
                {% for comment in comments %}
                    <li>
                        <p><strong>{{ comment.author.username }}</strong> ({{ comment.created_at }}): </p>
                       <p> {{ comment.content }}</p>
                    </li>
                {% endfor %}
            </ul>

            {% if request.user.is_authenticated %}
                <h3>Add a Comment</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" name="comment">Submit</button>
                </form>
            {% else %}
                <p><a href="{% url 'login' %}">Log in</a> to add a comment.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}