{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container-fluid min-vh-100 bg-light">
	<h1>Users</h1>
	{% if users %}
	{% for user in users %}
	{{ user.username }}
	{% if request.user.is_authenticated %}
	{% if user not in friends %}
	<form action="{% url 'search:add_friend' %}" method="POST">
		{% csrf_token %}
		<input type="hidden" name="friend_id" value="{{ user.id }}">
		<input type="hidden" name="query" value="{{ query }}">
		<button type="submit">Add friend</button>
	</form>
	{% endif %}
	{% endif %}
	<br />
	{% endfor %}
	{% else %}
	<p>No users found</p>
	{% endif %}
</div>
{% endblock %}
